* {
    box-sizing: border-box;
    /* border: solid red 1px; */
    padding: 0;
    margin: 0;
    max-width: 768px;
}

@media screen and (min-width: 768px) {
    * {
        max-width: 1980px;
    }

    .shop-container {
        max-width: 50rem;
    }

    .trophy-container {
        max-width: 50rem;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

    }

    .shop-container {
        grid-area: 1 / 1 / 2 / 2;
    }

    .trophy-container {
        grid-area: 2 / 1 / 3 / 2;
    }

    .rocket-container {
        grid-area: 1 / 2 / 3 / 3;
    }

    /* #vacuum-name,
    #fueltank-name,
    #wings-name,
    #reactor-name {
        font-size: 2.5vw;
    }

    #vacuum-price,
    #fueltank-price,
    #wings-price,
    #reactor-price {
        font-size: 2.5vw;
    }
*/
}

header {
    display: flex;
    font-family: 'Do Hyeon', sans-serif;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

header h1 {
    font-size: 5vw;
}

header img {
    padding-left: 1rem;
}

body {
    margin: 0;
    box-sizing: content-box;
    width: 100%;
    font-family: 'fira Sans', sans-serif;
    background-image: url("assets/background_anime.jpg");
    color: white;
}


.shop-container {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    font-family: 'Do Hyeon', sans-serif;
    padding-bottom: 2rem;
}

.menu {
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;


}

.menu button {
    color:white; 
    border: solid white 0.2rem;
    border-radius: 0.5em;
    padding: 1rem;
    background: linear-gradient(180deg, hsla(213, 100%, 45%, 0.2) 0%, hsla(0, 0%, 0%, 0.2) 100%);
}

.menuShop {
    display: block;
}

.menuTrophy {
    display: none;
}

.vacuum,
.fuel-tank,
.wings,
.reactor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    background: linear-gradient(180deg, hsla(213, 100%, 45%, 0.2) 0%, hsla(0, 0%, 0%, 0.2) 100%);
    padding: 0.5rem;
    margin-left: 1rem;
    margin-top: 1.5rem;
    border: solid white 0.2rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.5rem black;
    padding-left: 1rem;
    padding-right: 1rem;

}

#vacuum img,
#fuel-tank img,
#wings img,
#reactor img {
    grid-area: 1 / 1 / 2 / 2;
    font-family: 'fira Sans', sans-serif;
    margin: 0;


}

#vacuum-name,
#fueltank-name,
#wings-name,
#reactor-name {
    grid-area: 1 / 2 / 2 / 3;
    font-family: 'fira Sans', sans-serif;
    justify-self: flex-start;
    font-size: clamp(1rem, 2vw, 3rem);
}



.price {
    grid-area: 1 / 3 / 2 / 4;
    font-family: 'fira Sans', sans-serif;
    justify-self: end;
    font-size: clamp(0.6rem, 1.5vw, 2rem);
}

.count {
    grid-area: 1 / 4 / 2 / 5;
    font-family: 'fira Sans', sans-serif;
    justify-self: end;
    font-size: 25px;

}

.shop img {
    padding: 0.5rem 1rem;
}

#fuel-tank,
#wings,
#reactor {
    display: flex;
    align-items: center;
}

.trophy-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    font-family: 'fira Sans', sans-serif;
    width: 100%;
    padding-left: 1rem;

}


.trophy {
    display: flex;
    flex-direction: column;
    width: 24%;
    text-align: center;
    margin: 0 auto;
    padding-top: 0.5rem;
    padding-bottom: 1rem;

}

.trophy img {
    margin: 0 auto;
    width: 70%;
    filter: grayscale(1);
}

.trophy p {
    font-size: 1rem;
    margin: 0 auto;
    padding-top: 0.2rem;

}


.trophy h3 {
    font-size: 1.5rem;
    margin: 0 auto;
    padding-top: 0.2rem;

}

.trophy span {
    color: #FFA800;
    font-size: 0.8rem;
    margin: 0 auto;
}
/* -------------DIV ROCKET ------------------- */

.rocket-progress{
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-left: 6rem;
}
/*--------------Counter--------------*/
.counter {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.counter h2 {
    font-size: 3rem;

}

.counter img {
    padding-left: 0.5rem;
    padding-top: 0.4rem;
}

.counter h3 {
    font-size: 1.2rem;
    color: #FFA800;

}

/*---------------- PROGRESS BAR -------------------*/
.container-bar {
    height: 15rem;
    width: 2rem;
    background-color: #0dd3da;
    position: relative;
    border: solid 5px white;
    border-radius: 20px;
    transform: rotate(-180deg);
}

.container-bar .progress-bar {
    position: absolute;
    height: 75%;
    background-color: blue;
    width: 100%;
    border-radius: 15px;
}
#animation-progressbar{
    animation: progress-animation 5s forwards;
}

@keyframes progress-animation{
    0%{width: 0%;}
    100%{widht:100%;}
}

/*-------------Rocket-----------*/

.rocket-part {
    background-color: transparent;
    border: none;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}


.fumée {
    margin-top: 0rem;
    padding-top: 0rem;
}

#reset{
    display :flex;  
    align-content: center;
    font-size: 25px;
    font-family: 'fira Sans', sans-serif;
}