


*{
    background-color: rgb(49, 19, 19);
    box-sizing: border-box;
    /* border: solid red 1px; */
    padding: 0;
    margin: 0;
}





/* PROGRESS BAR */
.progressbar-position{
    /* border: solid white 5px; */
    display: flex;
    justify-content: flex-end;
}
.progressbar-rocket{
    /* border: solid blue 1px ; */
    margin: 20px;
    padding: 10px;
    width: 5rem;
    transform: rotate(90deg) translate(0%, -100%);
}

.progressbar-wrapper{
 /* border: solid white 1px; */
 background-color: white;
 border-radius: 50px;
 padding: 1px;
 width: 130px;
}

.progressbar{
/* border: solid purple 1px; */
margin: 3px;
background-color: crimson;
border-radius: 50px;
height: 10px;

}